.deps/
.libs/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libresolvconf_override.la
libresolvconf_override_la-resolvconf-override.lo
libtool
ltmain.sh
missing
